In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("chat.txt", header=None, on_bad_lines='skip', encoding='utf8')

In [23]:
df

,0,1,2,3
0,18/07/22,6:25â€¯pm - Messages and calls are end-to-end e...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,18/07/22,6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna,is the instance working? This Akshaya from hc...,NaN
2,18/07/22,6:26â€¯pm - Ram: Yes working,NaN,NaN
3,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...,NaN,NaN
4,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna,NaN,NaN
...,...,...,...,...
2729,31/07/24,1:52â€¯pm - Ram: <Media omitted>,NaN,NaN
2730,31/07/24,1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...,NaN,NaN
2731,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa,NaN,NaN
2732,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt,NaN,NaN
2733,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...,NaN,NaN

In [24]:
df = df.drop(0)  #0 row deleted

In [25]:
df

,0,1,2,3
1,18/07/22,6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna,is the instance working? This Akshaya from hc...,NaN
2,18/07/22,6:26â€¯pm - Ram: Yes working,NaN,NaN
3,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...,NaN,NaN
4,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna,NaN,NaN
5,18/07/22,6:28â€¯pm - Ram: You are from EBS background?,NaN,NaN
...,...,...,...,...
2729,31/07/24,1:52â€¯pm - Ram: <Media omitted>,NaN,NaN
2730,31/07/24,1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...,NaN,NaN
2731,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa,NaN,NaN
2732,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt,NaN,NaN
2733,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...,NaN,NaN

In [26]:
df

,0,1,2,3
1,18/07/22,6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna,is the instance working? This Akshaya from hc...,NaN
2,18/07/22,6:26â€¯pm - Ram: Yes working,NaN,NaN
3,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...,NaN,NaN
4,18/07/22,6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna,NaN,NaN
5,18/07/22,6:28â€¯pm - Ram: You are from EBS background?,NaN,NaN
...,...,...,...,...
2729,31/07/24,1:52â€¯pm - Ram: <Media omitted>,NaN,NaN
2730,31/07/24,1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...,NaN,NaN
2731,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa,NaN,NaN
2732,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt,NaN,NaN
2733,01/08/24,7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...,NaN,NaN

In [27]:
df.drop(df.columns[2], axis=1, inplace=True)

In [28]:
df

             0                                                  1    3
1     18/07/22        6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna  NaN
2     18/07/22                         6:26â€¯pm - Ram: Yes working  NaN
3     18/07/22   6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...  NaN
4     18/07/22      6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna  NaN
5     18/07/22        6:28â€¯pm - Ram: You are from EBS background?  NaN
...        ...                                                ...  ...
2729  31/07/24                     1:52â€¯pm - Ram: <Media omitted>  NaN
2730  31/07/24   1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...  NaN
2731  01/08/24             7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa  NaN
2732  01/08/24              7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt  NaN
2733  01/08/24   7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...  NaN

[2733 rows x 3 columns]

In [31]:
df.drop(df.columns[2], axis=1, inplace=True)

In [32]:
df

             0                                                  1
1     18/07/22        6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna
2     18/07/22                         6:26â€¯pm - Ram: Yes working
3     18/07/22   6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...
4     18/07/22      6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna
5     18/07/22        6:28â€¯pm - Ram: You are from EBS background?
...        ...                                                ...
2729  31/07/24                     1:52â€¯pm - Ram: <Media omitted>
2730  31/07/24   1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...
2731  01/08/24             7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa
2732  01/08/24              7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt
2733  01/08/24   7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...

[2733 rows x 2 columns]

In [33]:
df.columns = ['Text', 'Label']  #Column(0 1) changed to name

In [34]:
df

          Text                                              Label
1     18/07/22        6:25â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna
2     18/07/22                         6:26â€¯pm - Ram: Yes working
3     18/07/22   6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: This message ...
4     18/07/22      6:27â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna
5     18/07/22        6:28â€¯pm - Ram: You are from EBS background?
...        ...                                                ...
2729  31/07/24                     1:52â€¯pm - Ram: <Media omitted>
2730  31/07/24   1:52â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu...
2731  01/08/24             7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa
2732  01/08/24              7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt
2733  01/08/24   7:08â€¯pm - âœŒï¸Trio Tech AkshayağŸ˜‡: Please call w...

[2733 rows x 2 columns]

In [36]:
Message = df["Label"].str.split("-",n=1,expand=True)

In [37]:
Message

              0                                                  1
1      6:25â€¯pm                   âœŒï¸Trio Tech AkshayağŸ˜‡: Hi Ram Anna
2      6:26â€¯pm                                    Ram: Yes working
3      6:27â€¯pm      âœŒï¸Trio Tech AkshayağŸ˜‡: This message was deleted
4      6:27â€¯pm                 âœŒï¸Trio Tech AkshayağŸ˜‡: Okay tks anna
5      6:28â€¯pm                   Ram: You are from EBS background?
...         ...                                                ...
2729   1:52â€¯pm                                Ram: <Media omitted>
2730   1:52â€¯pm     âœŒï¸Trio Tech AkshayağŸ˜‡: Thankkk youuu annaaatheğŸ¥‚ğŸ¥‚
2731   7:08â€¯pm                        âœŒï¸Trio Tech AkshayağŸ˜‡: Annaaa
2732   7:08â€¯pm                         âœŒï¸Trio Tech AkshayağŸ˜‡: Doubt
2733   7:08â€¯pm    âœŒï¸Trio Tech AkshayağŸ˜‡: Please call when you ar...

[2733 rows x 2 columns]